backup/masterpackage-retrieve/unpackaged/unpackaged/flows/Conversions_Reactivate_Reassign_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Agent</name>
        <label>Notify Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AgentIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_to_Agent_Queue</name>
        <label>Assign Case to Agent Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordUpdate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Conversion_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordUpdate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Values</name>
        <label>Update Case Values &amp; Recipient Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AgentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Conversion_Record.Assigned_Agent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordUpdate.Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordUpdate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Conversion_Record.Assigned_Agent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordUpdate.IsStopped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordUpdate.SLA_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Awaiting_Info_From</name>
        <label>Awaiting Info From?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Paused</defaultConnectorLabel>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting information - Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conversion_Record</targetReference>
            </connector>
            <label>Client</label>
        </rules>
        <rules>
            <name>Branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting information - Branch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conversion_Queue</targetReference>
            </connector>
            <label>Branch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Found</name>
        <label>Queue Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Conversion_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_to_Agent_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>COCONV 2027 - Awaiting Info Branch
COCONV - 1738 - Reactivate Case</description>
    <environments>Default</environments>
    <formulas>
        <name>Priority</name>
        <dataType>String</dataType>
        <expression>CASE({!caseRecord.CD_StrackStatus__c},
     &apos;Green&apos;, &apos;Low&apos;,
     &apos;Amber&apos;, &apos;Medium&apos;,
     &apos;Red&apos;, &apos;High&apos;,
     &apos;Low&apos;)</expression>
    </formulas>
    <formulas>
        <name>subject</name>
        <dataType>String</dataType>
        <expression>&quot;Debit Order Switch Case &quot; &amp;{!caseRecord.CaseNumber}&amp; &quot; Activated&quot;</expression>
    </formulas>
    <interviewLabel>Comversions - Reactivate &amp; Reassign Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversions - Reactivate &amp; Reassign Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Conversion_Queue</name>
        <label>Get Conversion Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Central_Conversions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conversion_Record</name>
        <label>Get Conversion Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conversions_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
        <inputReference>CaseRecordUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case1</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>CaseRecordUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Awaiting_Info_From</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case {!caseRecord.CaseNumber} is now active and has been reassigned to you</text>
    </textTemplates>
    <variables>
        <name>AgentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
