backup/masterpackage-retrieve/unpackaged/unpackaged/flows/Conversions_Debit_Order_Upsert_Trigger.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Logics_To_Execute</name>
        <label>Logics To Execute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert_Logics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Create_Event</targetReference>
            </connector>
            <label>Insert Logics</label>
        </rules>
        <rules>
            <name>Update_Logics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Update_Event</targetReference>
            </connector>
            <label>Update Logics</label>
        </rules>
    </decisions>
    <description>COCONV-1735 -Optimisation
COCONV-2094 - Publish Edit &amp; Create Event
COCONV-1738 - Re Activate Case if there are activities on the DO
COCONV-1938 - Track Debit Orders To Auto Close Case</description>
    <environments>Default</environments>
    <interviewLabel>Conversions - Debit Order Upsert Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversions - Debit Order Upsert Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>COCONV-2094</description>
        <name>Publish_Create_Event</name>
        <label>Publish Create Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conversion_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionType__c</field>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>$Record.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmation_Cause_Code__c</field>
            <value>
                <elementReference>$Record.Confirmation_Cause_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOI_Not_Onboarded__c</field>
            <value>
                <elementReference>$Record.Not_yet_onboarded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOI_Sub_Name__c</field>
            <value>
                <elementReference>$Record.DOI_Sub_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debit_Order_Date__c</field>
            <value>
                <elementReference>$Record.Debit_OrderDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventName__c</field>
            <value>
                <stringValue>Debit Order Tracking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Debit_Order_Initiator_ID__c</field>
            <value>
                <elementReference>$Record.External_Debit_Order_Initiator_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Debit_Order_Initiator_Name__c</field>
            <value>
                <elementReference>$Record.External_Debit_Order_Initiator_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue__c</field>
            <value>
                <elementReference>$Record.DO_Issue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Issue__c</field>
            <value>
                <elementReference>$Record.Other_Debit_Order_Issue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Comms__c</field>
            <value>
                <elementReference>$Record.Preferred_Comms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesforceId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Date__c</field>
            <value>
                <elementReference>$Record.Submission_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_Cause_Code__c</field>
            <value>
                <elementReference>$Record.Submitted_Cause_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Capitec_Account__c</field>
            <value>
                <elementReference>$Record.To_Capitec_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawn_Cause_Code__c</field>
            <value>
                <elementReference>$Record.Withdrawn_Cause_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Debit_Order_Tracking__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>COCONV-2094</description>
        <name>Publish_Update_Event</name>
        <label>Publish Update Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Conversion_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionType__c</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>$Record.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmation_Cause_Code__c</field>
            <value>
                <elementReference>$Record.Confirmation_Cause_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOI_Not_Onboarded__c</field>
            <value>
                <elementReference>$Record.Not_yet_onboarded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOI_Sub_Name__c</field>
            <value>
                <elementReference>$Record.DOI_Sub_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debit_Order_Date__c</field>
            <value>
                <elementReference>$Record.Debit_OrderDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventName__c</field>
            <value>
                <stringValue>Debit Order Tracking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Debit_Order_Initiator_ID__c</field>
            <value>
                <elementReference>$Record.External_Debit_Order_Initiator_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Debit_Order_Initiator_Name__c</field>
            <value>
                <elementReference>$Record.External_Debit_Order_Initiator_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue__c</field>
            <value>
                <elementReference>$Record.DO_Issue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Issue__c</field>
            <value>
                <elementReference>$Record.Other_Debit_Order_Issue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Comms__c</field>
            <value>
                <elementReference>$Record.Preferred_Comms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesforceId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Date__c</field>
            <value>
                <elementReference>$Record.Submission_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_Cause_Code__c</field>
            <value>
                <elementReference>$Record.Submitted_Cause_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Capitec_Account__c</field>
            <value>
                <elementReference>$Record.To_Capitec_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawn_Cause_Code__c</field>
            <value>
                <elementReference>$Record.Withdrawn_Cause_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Debit_Order_Tracking__e</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conditions_To_Auto_Close_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Conversion_Record</name>
        <label>Get Conversion Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_To_FD_subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conversion_Record</name>
        <label>Get Conversion Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Logics_To_Execute</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Configurations__c.Bypass_Flows__c} = false</filterFormula>
        <object>Debit_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Conditions to verify if the case record needs to be closed</description>
        <name>Conditions_To_Auto_Close_Case</name>
        <label>Conditions To Auto Close Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Reactivate_Case_Subflow</targetReference>
        </connector>
        <flowName>Conversions_Auto_Close_Case</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ConversionRecord</name>
            <value>
                <elementReference>Copy_1_of_Get_Conversion_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DebitOrderRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>COCONV-1738: Reactivate Case if there are activities on DO level</description>
        <name>Copy_1_of_Reactivate_Case_Subflow</name>
        <label>Reactivate Case Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Case_To_Confirm_Subflow</targetReference>
        </connector>
        <flowName>Conversions_Reactivate_Reassign_Case</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>Copy_1_of_Get_Case_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Update_Case_To_Confirm_Subflow</name>
        <label>Update Case To Confirm Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Conversions_Update_Case_To_Confirm_Subflow</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>Copy_1_of_Get_Case_Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>COCONV-1738: Reactivate Case if there are activities on DO level</description>
        <name>Reactivate_Case_Subflow</name>
        <label>Reactivate Case Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case_To_Confirm_Subflow</targetReference>
        </connector>
        <flowName>Conversions_Reactivate_Reassign_Case</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>Get_Case_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflow with conditions to verify if the Case Record needs to be updated to Confirmed</description>
        <name>Update_Case_To_Confirm_Subflow</name>
        <label>Update Case To Confirm Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Conversions_Update_Case_To_Confirm_Subflow</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>Get_Case_Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Subflow with conditions to verify if the Conversion Object need to be updated to Future Dated</description>
        <name>Update_Case_To_FD_subflow</name>
        <label>Update Case To FD subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reactivate_Case_Subflow</targetReference>
        </connector>
        <flowName>Conversions_Mark_Case_As_Future_Dated_Subflow</flowName>
        <inputAssignments>
            <name>ConversionRecord</name>
            <value>
                <elementReference>Get_Conversion_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdatedDO</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
