backup/masterpackage-retrieve/unpackaged/unpackaged/flows/Conversions_Schedule_Auto_Close.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_3_days</name>
        <label>Assign 3 days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Conversions_ScheduleAutoClose</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>days</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>Conversions_ScheduleAutoClose</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Assign_40_days</name>
        <label>Assign 40 days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Conversions_ScheduleAutoClose</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>days</name>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>Conversions_ScheduleAutoClose</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Assign_90_days</name>
        <label>Assign 90 days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Conversions_ScheduleAutoClose</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>days</name>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>Conversions_ScheduleAutoClose</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Reset_Due_Date</name>
        <label>Reset Due Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Case_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Future_Debit_Order_Present</name>
        <label>Future Debit Order Present?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_40_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Future_Dated_DOs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_90_days</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Case_Status</name>
        <label>Verify Case Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Awaiting_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting information - Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_3_days</targetReference>
            </connector>
            <label>Awaiting Info</label>
        </rules>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Future_Dated_DOs</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
    </decisions>
    <description>COCONV-1738
COCONV-1934</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Conversions - Schedule Auto Close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversions - Schedule Auto Close</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Future_Dated_DOs</name>
        <label>Get Future Dated DOs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Future_Debit_Order_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FD Debit Order Switch</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Debit_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_Due_Date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
