backup/masterpackage-retrieve/unpackaged/unpackaged/flows/Conversions_Case_Upsert_Trigger.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Schedule_Check_After_3_days</name>
        <label>Schedule Check After 3 days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Conversions_ScheduleAutoClose</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>days</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>Conversions_ScheduleAutoClose</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Schedule_Check_After_7_days</name>
        <label>Schedule Check After 7 days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Conversions_ScheduleAutoClose</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Conversion_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>days</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>Conversions_ScheduleAutoClose</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Schedule_Check_On_Day_18</name>
        <label>Schedule Check On Day 18</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Conversions_ScheduleAutoClose</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Conversion_Record1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>days</name>
            <value>
                <elementReference>DaysRemainingUntil18</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Conversions_ScheduleAutoClose</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_18_days</name>
        <label>Assign 18 days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Conversion_Record.Days_Scheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>18</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_Check_On_Day_18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Conversion_Values</name>
        <label>Assign Conversion Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Conversion_Record.Days_Scheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_Check_After_7_days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_required_after_18_Days</name>
        <label>Check Required after 18 Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysRemainingUntil18</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_18_days</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conversion_Case</name>
        <label>Conversion Case?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conversions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conversion_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Created</name>
        <label>Is Case Created?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Logics_To_Execute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SLA_to_Case</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Logics_To_Execute</name>
        <label>Logics To Execute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Status_Changed_To_Awaiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting information - Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Awaiting_Info_Queue</targetReference>
            </connector>
            <label>Sub Status Awaiting Client</label>
        </rules>
        <rules>
            <name>Sub_Status_Awaiting_Branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting information - Branch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Awaiting_Info_Queue</targetReference>
            </connector>
            <label>Sub Status Awaiting Branch</label>
        </rules>
        <rules>
            <name>Sub_Status_changed_to_Active</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting information - Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting information - Branch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reactivate_Case</targetReference>
            </connector>
            <label>Sub Status changed to Active</label>
        </rules>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Conversion_Values</targetReference>
            </connector>
            <label>Status Changed To Submitted</label>
        </rules>
        <rules>
            <name>Status_Changed_To_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_required_after_18_Days</targetReference>
            </connector>
            <label>Status Changed To Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify if the SLA date on case has been reached</description>
        <name>Verify_SLA_Date</name>
        <label>Verify SLA Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>SLA Does Not Match</defaultConnectorLabel>
        <rules>
            <name>SLA_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>slaReached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Schedule_To_Perform_Subflow</targetReference>
            </connector>
            <label>SLA Reached</label>
        </rules>
    </decisions>
    <description>1735 - Scheduled checks + Comms platform events
2093 - Remove Submission Email
1738
1739 - Manual Case Escalation - Removed Pause/Resume Milestones
1934 - Submission Email
1848 - Set Rag Status Green upon creation
 1938 - Auto Close Rule Adapted</description>
    <environments>Default</environments>
    <formulas>
        <name>DaysRemainingUntil18</name>
        <dataType>Number</dataType>
        <expression>18 - VALUE(
    IF(
        ISBLANK( TEXT({!Get_Conversion_Record.Days_Scheduled__c}) ),
        &quot;0&quot;,
        TEXT({!Get_Conversion_Record.Days_Scheduled__c})
    )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>slaReached</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!$Record.SLA_Time__c}) = TODAY()</expression>
    </formulas>
    <interviewLabel>Conversions - Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversions - Case Upsert Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Awaiting_Info_Queue</name>
        <label>Get Awaiting Info Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conversions_Cases_Awaiting_Info</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Awaiting_Info_Queue</name>
        <label>Get Awaiting Info Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stop_Timer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conversions_Cases_Awaiting_Info</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Conversion Record Related to the case</description>
        <name>Get_Conversion_Record</name>
        <label>Get Conversion Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Stop_Timer</name>
        <label>Stop Timer &amp; Assign  Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Schedule_Check_After_3_days</targetReference>
        </connector>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Awaiting_Info_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_Awaiting_Info_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Conversion_Record</name>
        <label>Update Conversion Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Conversion_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Conversion_Record1</name>
        <label>Update Conversion Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Conversion_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Conversion_Case</targetReference>
        </connector>
        <filterFormula>AND
({!$Record.RecordType.DeveloperName} =&apos;Conversions&apos;,
{!$Setup.Bypass_Configurations__c.Bypass_Flows__c} = false)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Case_Auto_Close</name>
            <connector>
                <targetReference>Verify_SLA_Date</targetReference>
            </connector>
            <label>Case Auto Close</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SLA_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Analysis the different actions that must be performed based on conditions</description>
        <name>Action_Schedule_To_Perform_Subflow</name>
        <label>Action/Schedule To Perform Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Conversions_Scheduling_Actions</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Assign_SLA_to_Case</name>
        <label>Assign SLA to Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Conversions_Assign_SLA_To_Case</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reactivate_Case</name>
        <label>Reactivate Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Conversions_Reactivate_Reassign_Case</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CountDOs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
