backup/masterpackage-retrieve/unpackaged/unpackaged/flows/Conversions_Send_Submission_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Template_For_DOs</name>
        <label>Get Template For DOs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Conversions_AnalyseDebitOrders</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Submission_Email</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Conversions_AnalyseDebitOrders</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Submission_Email</name>
        <label>Send Submission Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Org_Wide_Email_Address.Address</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!BodyTemplate}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>CaseRecord.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Recipient_s_Email_Available</name>
        <label>Recipient&apos;s Email Available?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Org_Wide_Email_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>COCONV 1934 - Updated - Email</description>
    <environments>Default</environments>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Your Debit Orders Are Being Switched. Case #&quot; &amp; {!CaseRecord.CaseNumber}</expression>
    </formulas>
    <interviewLabel>Send Submission Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversions -Send Submission Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Org_Wide_Email_Address</name>
        <label>Get Org Wide Email Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Template_For_DOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Central Conversions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recipient_s_Email_Available</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>BodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!CaseRecord.Account.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We’d like to confirm that we’ve sent your debit order switch requests to the service providers listed below.&lt;/p&gt;&lt;p&gt;We rely on them to finalise the switch so please&amp;nbsp;note that the process can take between &lt;strong&gt;7 to 40 business days&lt;/strong&gt;, depending on their response time.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We’ll keep you updated throughout the process.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please be sure to keep enough money in the account you are currently using to pay your debit orders, until we&amp;nbsp;confirm the switch, to avoid missing any payments.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;We have sent your debit order switch requests to the following companies:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Template_For_DOs.noActionDebitOrdersText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Some service providers can only process requests when they come directly from you, as this is part of their standard process.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please note that the following debit orders cannot be switched by us, so we kindly ask that you contact the company directly to make the switch:&lt;/p&gt;&lt;p&gt;{!Get_Template_For_DOs.clientActionDebitOrdersText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have any questions, simply reply to this email or contact us at &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;conversions@capitecbank.co.za.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely&lt;/p&gt;&lt;p&gt;Capitec Bank&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>receipientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
